.card_login {
  width: 280px;
  width: 280px;
  background-color: aqua;
  padding: 5px;
  margin: 5px;
}

.social_login {
  display: block;
  width: 450px;
  margin:auto;
  text-align: center;
  padding:20px;
  background-color: rgb(6, 238, 254);
  margin-top: 15px;
  cursor: pointer;
}

.loginContainer{
  display: block;
  width: 50%;
  height: 600px;
  margin: auto;
  margin-top: 200px;  
}

.card_login > img {
  width: 80px;
  width: 80px;
}

.content_principal {
  display: block;
  width: 70%;
  margin: auto;  
}

.postCard {
  min-width: 200px;
  width:20%;
  min-height: 420px;
  height: auto;
  margin: 8px;
  padding: 8px;
  float:left;
  background-color: rgba(0, 195, 244, 0.843);
}

.img_post {
  display: block;
  width: 80%;
  height: 150px;
  margin:auto;
  border-radius: 50%;
}

.owner {
  font-size: 15px;
}

.likes_comments {
  display: flex;
  width:100%;
  justify-content: space-between;
}

.likes {
  width:50%;
  height:30px;
  display: flex;
  align-items: center;
}

.comments {
  width:50%;
  height:30px;
  display: flex;
  align-items: center;
}

.commentsContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cardComment {
  margin: 5px;
  min-width: 180px;
  flex: 0 32%;
  height: 100px;
  margin-bottom: 2%; /* (100-32*3)/2 */
  background-color: turquoise;
}

.comments_button {
  background-color: rgb(9, 9, 9);
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 10%;
}


.filter_button {
  background-color: rgb(5, 237, 98);
  border: none;
  color: black;
  padding: 5px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10%;
  margin: 5px;
}


.cardUser {
  width:50%;
  margin:auto;
}

.cardUser > h1{
  text-align: center;
}

.cardUser > img{
  display: block;
  margin:auto;
}